/*Toolbar Section*/

//Overwrite border on MD's dropdown
.main-toolbar{
  md-select-value{
    border-width: 0px !important;
  }
  ._md-select-icon{
    font-size: 14px;
  }
}

md-card{
  .card-header{
    height: 300px;
    overflow: hidden;
    img{
      width:100%;
      height: auto !important;
      position: relative;
      bottom: 50%;
    }
  }
}
