<md-content layout="column" layout-fill>
  <md-content layout="row" layout-align="center start">
    <md-card>
      <img ng-src="https://upload.wikimedia.org/wikipedia/commons/0/0f/MOS6581_chtaube061229.jpg" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">A Blog Post</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor rutrum erat quis volutpat. Phasellus pretium arcu eget diam tristique accumsan. Ut nec ipsum et sapien tempus vehicula. Cras vitae metus efficitur, dictum diam sit amet, dignissim purus. Nullam feugiat tincidunt odio, et porta ex bibendum vel. Duis ut lobortis nibh, vel malesuada enim. Nulla interdum odio nec sem volutpat, in convallis lorem gravida. Nunc maximus sed lorem sit amet pulvinar. Etiam ultricies mauris interdum ipsum lacinia, vitae aliquet eros volutpat. Praesent efficitur, velit vel condimentum mattis, sem felis pretium tellus, at fermentum neque metus eget mauris.
        </p>
        <p>
          Sed rutrum lacus in purus varius pulvinar. Aliquam dapibus urna justo, et finibus urna consequat eget. Proin pretium quam ante, molestie dignissim turpis eleifend non. Aenean iaculis elementum mauris, vitae sagittis orci dapibus vel. Nulla faucibus tempus congue. In hac habitasse platea dictumst. Nunc vel convallis magna. Maecenas quis est a felis sagittis faucibus id sed sapien. Etiam sit amet ex nec erat facilisis porttitor. Aliquam erat volutpat. Praesent fringilla facilisis dui, vel placerat tortor condimentum sit amet.
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button">
          <md-icon>link</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
  </md-content>
</md-content>
