<md-content style="background-color: rgba(0,0,0,0);">
  <md-toolbar class="main-toolbar" style="background-color: rgba(0,0,0,0);">
    <div class="md-toolbar-tools">
      <h1>Bailey Blankenship</h1>
      <span style="padding: 3px; margin: 0px 3px;"> | </span>
      <md-input-container style="position:relative; top: -2px;">
        <md-select ng-model="state" aria-label="Main Navigation">
          <md-option value="home">
            Home
          </md-option>
          <md-option value="blog">
            Blog
          </md-option>
          <md-option value="portfolio">
            Portfolio
          </md-option>
          <md-option value="resume">
            Resume
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-toolbar>
</md-content>
